<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        img{
            margin-left: 10%;
        }
    </style>
</head>
<body>
<img width="80%"  src="https://cdn.sketchbubble.com/pub/media/catalog/product/optimized1/4/d/4d7a687f37da92a0ee4cd78185c569b5ffd2907417b2f2c194e9e3a1b64f9c99/world-blood-donor-day-theme-slide15.png" alt="Thank-You-Page">
</body>
</html>